Django
certifi==2019.9.11
chardet==3.0.4
gunicorn
heroku==0.1.4
idna==2.8
openpyxl
python-dateutil==1.5
pytz==2019.3
requests==2.22.0
sqlparse==0.3.0
urllib3==1.25.8
et-xmlfile
jdcal
# pkg-resources
dj-database-url==0.5.0
django-heroku
mysqlclient==1.4.2
psycopg2==2.7.7
whitenoise==4.1.2