{% extends 'base.html' %}
{% block scripts %}
<script type="text/javascript">
$(document).ready(function(){
  $('#id_escolher_empresa').change(function(){
    if($('#id_escolher_empresa').val()){
      window.location.href='{% url 'escolherempresa' %}/'+$('#id_escolher_empresa').val();
    }else{
      window.location.href='{% url 'escolherempresa' %}';
    }
  });
});
</script>
{% endblock %}

{% block content %}
{% if message%}
	Dados salvos com sucesso!
{% else %}
	<form method="POST" action="">
	{{form.errors}}
		{% csrf_token %}

	{{formset_questao.management_form}}	
	{% for form in formset_questao %}
		
		{{form.id}}
		<h2>{{forloop.counter}}-{{form.instance.questao}}</h2>
		{{form.resposta}}
	{% endfor %}
	<div class="formats">
	<input class="btn" type="submit" value="SAVE">
	<input id="excel" class="btn" name="excel" type="submit" value="SAVE EXCEL">
	</div>
	</form>
{% endif %}
{% endblock %}

